#### Life cycle of Machine learning Project

- Understanding the Problem Statement
- Data Collection
- Data Checks to perform
- Exploratory data analysis
- Data Pre-Processing
- Model Training
- Choose best model

In [ ]:
### 2.1 Import Data and Required Packages
####  Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

Matplotlib is building the font cache; this may take a moment.

#### Import the CSV Data as Pandas DataFrame

In [3]:
df = pd.read_csv('data/raw.csv')

In [4]:
df.head()

        Date  TotalAppointments  DayOfWeek  Month  Year
0  30-Apr-23                 17          0      4  2023
1  29-Apr-23                 28          6      4  2023
2  28-Apr-23                117          5      4  2023
3  27-Apr-23                121          4      4  2023
4  26-Apr-23                118          3      4  2023

In [5]:
df.shape

(5016, 5)

## Check missing value

In [9]:
df.isna().sum()

Date                 0
TotalAppointments    0
DayOfWeek            0
Month                0
Year                 0
dtype: int64

## check duplicate value

In [10]:
df.duplicated().sum()

0

## Check data type

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               5016 non-null   object
 1   TotalAppointments  5016 non-null   int64
 2   DayOfWeek          5016 non-null   int64
 3   Month              5016 non-null   int64
 4   Year               5016 non-null   int64
dtypes: int64(4), object(1)
memory usage: 196.1+ KB

In [12]:
df.nunique()

Date                 5016
TotalAppointments     140
DayOfWeek               7
Month                  12
Year                   15
dtype: int64

In [ ]:
## define nuerical and categorical features

In [29]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 8 numerical features : ['TotalAppointments', 'DayOfWeek', 'Month', 'Year', 'averageAppointments', 'average', 'month', 'year']

We have 1 categorical features : ['Date']

In [28]:
df['month'] = pd.to_datetime(df['Date']).dt.month
df['year'] = pd.to_datetime(df['Date']).dt.year

In [36]:
df.groupby(['Year','Month'])['TotalAppointments'].sum()

Year  Month
2009  8         560
      9         643
      10        663
      11        563
      12        580
               ...
2022  12       2307
2023  1        1792
      2        1721
      3        2301
      4        2154
Name: TotalAppointments, Length: 165, dtype: int64

In [35]:
df.groupby(['Year','Month'])['TotalAppointments'].mean()

Year  Month
2009  8        21.538462
      9        21.433333
      10       21.387097
      11       18.766667
      12       18.709677
                 ...
2022  12       74.419355
2023  1        57.806452
      2        61.464286
      3        74.225806
      4        71.800000
Name: TotalAppointments, Length: 165, dtype: float64

### 4. Exploring Data ( Visualization )